<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= attendance.date %> Attendance</title>
    <link rel="stylesheet" href="/stylesheets/simple-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/open_gym.css">


    <script src="/js/jquery-3.1.1.min.js" charset="utf-8"></script>
    <script src="/js/open_gym.js" charset="utf-8"></script>

  </head>
  <body>
    <% include ../layouts/header %>
    <% include ../layouts/message %>

    <div class="main-container">
      <div class="attendance-action-button-container">
        <a href="/open_gym/weekly_attendance/<%=attendance.date %>">
          <div class="attendance-action-button">Add Children</div>
        </a>
        <a href="/admin/weekly_attendance">
          <div class="attendance-action-button">View All Attendance Sheets</div>
        </a>

      </div>
      <table class="users-table">
        <thead>
          <td>Name</td>
          <td>Signed In Time</td>
          <td>Signed Out Time</td>
          <td>Sign Out</td>
        </thead>
        <tbody>
          <% for(var i =0; i < children.length; i++) { %>

            <tr class="<%= children[i].id %>"  >
              <td>
                <div class="user-circle <%=(children[i].signed_out)? 'signed-out-color' : 'not-signed-out-color' %>"><%= children[i].firstname %></div>
                <a href="#" class="child-name" parent_id="<%= children[i].parent_id %>"><%= children[i].fullname %></a>

              </td>
              <td class="sign_in_time_row">
                <%= children[i].sign_in_time %>
              </td>

              <% if (children[i].signed_out) { %>
                  <td class="signed_out_time_row"><%= children[i].signed_out_time %></td>
                  <td class="sign_out_button_row"> - </td>
                <% } else{  %>
                    <td class="signed_out_time_row"> - </td>
                    <td class="sign_out_button_row">
                      <a href="#" class="sign_out" id="<%= children[i].id %>" staff="<%=(children[i].isStaff)? true : false  %>" >Sign Out</a>
                    </td>
                <% } %>
            </tr>

            <%  } %>
        </tbody>
      </table>
    </div>

    <div id="image-modal" style="display:none;">
      <img src="#" alt="parent image" id="parent-image">
    </div>
    <div id="overlay" style="display:none;"></div>

  </body>

</html>
<script type="text/javascript">
  $(document).ready(function(){
    $(document).on('click', '.sign_out', function(e){
      var person_id = this.id;
      var is_staff = $(this).attr('staff');

      e.preventDefault();
      $.ajax({
        method: 'POST',
        url: '/open_gym/weekly_attendance/signout/<%= attendance.date%>',
        data: {
          person_id: person_id,
          is_staff: is_staff
        },
        success: function(data){
          console.log("SIGNED OUT");
          id_string = 'tr.'+person_id;
          $current_row = $($('tr.'+person_id)[0]);
          $($(id_string+ ' .user-circle')[0]).removeClass("not-signed-out-color");
          $($(id_string+ ' .user-circle')[0]).addClass("signed-out-color")
          $($(id_string+ ' .signed_out_time_row')[0]).html(data.signed_out_time);
          $($(id_string+ ' .sign_out_button_row')[0]).html("-");
        }
      });
    });
    $(document).on('click', '.child-name', function(e){
      e.preventDefault();
      var parent_id = $(this).attr('parent_id');
      var url = 'https://s3.amazonaws.com/maspethbiblechurch-images/profile_pictures/'+parent_id;
      // $("#parent-image").attr("src","data:image/gif;base64," + rawImageData);
      $("#parent-image").attr("src",url);
           $('#overlay').css('display','block');
           $('#image-modal').css('display','block');
      // $.ajax({
      //   method: 'POST',
      //   url: '/users/get_profile_picture',
      //   data: {
      //     id: parent_id
      //   },
      //    success: function(rawImageData){
      //       $("#parent-image").attr("src","data:image/gif;base64," + rawImageData);
      //       $('#overlay').css('display','block');
      //       $('#image-modal').css('display','block');
      //     }
      // });
    });

    $(document).on('click', '#overlay', function(){
      $('#overlay').css('display','none');
      $('#image-modal').css('display','none');
    });


  })
</script>
