<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Home</title>
    <link rel="stylesheet" href="/stylesheets/simple-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.29.0/date_fns.js"></script>
  </head>
  <body>
    <% include ../layouts/header %>
    <% include ../layouts/message %>
      <div class="main-container">
        <div id="attendance_list_container">
          <h2 class="title is-1"><a href="/open_gym/weekly_attendance/new">Create New Weekly Attendance Sheet +</a></h2>
          <% for(var i = 0; i< attendance.length; i++){ %>
            <div class="attendance_list">
              <% var dateString = "MMM D, YYYY" %>
              <h2><%=formatDate(attendance[i].date, [format=dateString]) %></h2>

              <a href="/open_gym/weekly_attendance/<%= attendance[i].date %>">Add Children</a>
              <a href="/open_gym/weekly_attendance/view/<%= attendance[i].date %>">View Sheet</a>
              <a href="/open_gym/weekly_attendance/download/<%= attendance[i].date %>">Download Sheet</a>
              <%  if( current_user.is_super_admin() )  { %>
              <a href="/open_gym/weekly_attendance/delete/<%= attendance[i]._id %>">Delete Sheet</a>
              <% } %>
            </div>
          <% } %>
        </div>
      </div>

  </body>
</html>
