<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
    <link rel="stylesheet" href="/stylesheets/simple-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body class="church-background">
    <% include ../layouts/header %>
    <% include ../layouts/message %>
    <div class="main-container">

      <div id="signup-container">
        <h1>Edit <%=user.firstname%>'s Profile</h1>
        <form class="" action="/users/<%= user._id %>/update" method="post">
          <div class="signup-input-container">
            <input type="hidden" name="id" value="<%= user._id%>">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" value="<%= user.firstname %>" required>
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" value="<%= user.lastname %>" required>
          </div>
          <div class="signup-input-container">

          </div>
          <div class="signup-input-container">
            <label for="email">Email</label>
            <input type="text" name="email" value="<%= user.email %>" required>
          </div>
          <div class="signup-input-container">

          </div>
          <div class="signup-input-container">
            <label for="church">Church/Place of Worship You Attend(Optional)</label>
            <input type="text" name="church" value="<%= user.church %>">
          </div>
          <div class="signup-input-container">
            <label for="address">Address</label>
            <input type="text" name="address" value="<%= user.address %>" required>
            <label for="city">City</label required>
            <input type="text" name="city" value="<%= user.city %>" required>

          </div>
          <div class="signup-input-container">
            <label for="zip_code">Zip Code</label>
            <input type="text" name="zip_code" value="<%= user.zip_code %>" required>
          </div>
          <div class="signup-input-container">
            <label for="phone_number">Phone Number</label>
            <input type="text" name="phone_number" value="<%= user.phone_number %>" required>
          </div>


          <% if(current_user.is_admin()) { %>

            <div class="signup-input-container admin-input-container">
              <h1>Admin Updates</h1>
              <label for="archived">Archived</label> <br>
              <input type="radio" name="archived" value="true" <%=user.archived? 'checked' : "" %> >Yes<br>
              <input type="radio" name="archived" value="false"  <%=!user.archived? 'checked' : "" %>>No<br>
            </div>

          <% } %>

          <div class="signup-input-container">
            <input type="submit" name="" value="Update" id="submit_button">
          </div>
        </form>
      </div>




    </div>
  </body>
</html>
