<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user.css">
  </head>
  <body>
    <% include ../layouts/header %>
    <% include ../layouts/message %>
    <div class="main-container">
      <h1>Users</h1>
      <table class="users-table">
        <thead>
          <td>Name</td>
          <td>Email</td>
          <td>Status</td>
        </thead>
        <tbody>
          <% for(var i =0; i< users.length;i++) { %>
            <tr>
              <td>
                <div class="user-circle user-color-<%= Math.floor((Math.random() * 6)) + 1 %>"><%= users[i].initials() %></div>
                <a href="/users/<%= users[i]._id %>"> <%= users[i].full_name() %></a>
              </td>
              <td>
                <%= users[i].email %>
              </td>
              <td>
                <%= users[i].status %>
              </td>
            </tr>


            <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>

<style>
  .user{
    padding:10px;
    width: 80%;
    margin:10px auto;
    border: 1px solid green;
  }
  .admin{
    background-color: blue;
  }
</style>
