<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <link rel="stylesheet" href="/stylesheets/simple-grid.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/user.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">

    <script src="/js/jquery-3.1.1.min.js" charset="utf-8"></script>
    <script src="/js/user.js" charset="utf-8"></script>
  </head>
  <body>
    <% include ../layouts/header %>
    <% include ../layouts/message %>
    <div class="main-container">

      <div class="table-header-container">

          <h1 class="is-underline">Parents</h1>

        <div class="search-sort-container">

          <div>
            <label for="sort-user" class="is-bold">Sort:</label>
            <select name="sort-user" id="sort-users">
              <option value="lastnameAsc">Lastname ↑(z-a)</option>

              <option value="lastnameDesc">Lastname ↓(a-z)</option>
              <option value="firstnameAsc">Firstname ↑(z-a)</option>
              <option value="firstnameDesc">Firstname ↓(a-z) </option>
              <option value="createdAtDesc">Sign Up Date ↓(earliest-latest) </option>
              <option value="createdAtAsc">Sign Up Date ↑(latest-earliest) </option>
            </select>
          </div>

          <div>
            <label for="search-users" class="is-bold">Search:</label>
            <input type="text" name="search-users" id="search-users">
          </div>
          <div>
            <button class="search-users-button">Search</button>
          </div>

        </div>
        <div class="filter-container">
          <div>
            <span class="show-filters-button"> Advanced Filtering <i class="fas fa-filter"></i></span>

          </div>
          <div class="all-filter-options-container">

            <div class="all-filter-options">
              <div class="filter-option">
                <h4>Signed Up in the last:</h4>
                <input type="radio" name="signed_up_after" value="7"><span>1 Week</span><br>
                <input type="radio" name="signed_up_after" value="30"><span>1 Month</span> <br>
                <input type="radio" name="signed_up_after" value="90"><span>3 Months</span>  <br>
                <input type="radio" name="signed_up_after" value="180"><span>6 Months </span><br>
              </div>
              <div class="filter-option">
                <h4>Status:</h4>
                <input type="checkbox" name="status" value="parent"><span>Parent</span><br>
                <input type="checkbox" name="status" value="staff"><span>Staff</span><br>
                <input type="checkbox" name="status" value="admin"><span>Admin</span><br>
              </div>
              <div class="filter-option">
                <h4>Has Profile picture:</h4>
                <input type="radio" name="profile_picture" value="true"><span>Yes</span><br>
                <input type="radio" name="profile_picture" value="false"><span>No</span> <br>
              </div>
              <div class="filter-option">
                <h4>Is Archived:</h4>
                <input type="radio" name="archived" value="true"><span>Yes</span><br>
                <input type="radio" name="archived" value="false"><span>No</span> <br>
              </div>
              <!-- <div class="filter-option">
                <h4>Has Medical Notes:</h4>
                <input type="radio" name="medical_notes" value="true">Yes<br>
                <input type="radio" name="medical_notes" value="false"> No<br>
              </div>
              <div class="filter-option">
                <h4>Is Archived:</h4>
                <input type="radio" name="archived" value="true">Yes<br>
                <input type="radio" name="archived" value="false"> No<br>
              </div> -->

              <!-- filter options: status(staff, parent, admin), if they have profile picture -->
            </div>
            <div class="clear-filters-container">

                <span class="clear-filters-button" id="clear-filters">Clear Filters</span>
                <span class="apply-filters-button search-users-button">Apply Filters</span>
            </div>
          </div>
        </div>
      </div>
      <table class="users-table">
        <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Status</th>
          <th>Sign Up Date</th>
        </thead>
        <tbody>
          <% for(var i =0; i< users.length;i++) { %>
            <tr>
              <td>
                <div class="user-circle user-color-<%= Math.floor((Math.random() * 6)) + 1 %>"><%= users[i].initials() %></div>
                <a href="/users/<%= users[i]._id %>"> <%= users[i].full_name() %></a>
              </td>
              <td>
                <%= users[i].email %>
              </td>
              <td>
                <%= users[i].status %>
              </td>
              <td>
                <% var dateString = "MMM D, YYYY" %>
                <%=formatDate(users[i].created_at, [format=dateString]) %>
              </td>
            </tr>


            <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>

<style>
  .user{
    padding:10px;
    width: 80%;
    margin:10px auto;
    border: 1px solid green;
  }
  .admin{
    background-color: blue;
  }
</style>
